name: Publish Docker image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Log in to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
     
    - name: Build and push the Docker image
      run: |
        docker build . --file Dockerfile --tag kirillvv/lab5_dockerfile_example:$(date +%s)
        docker push kirillvv/lab5_dockerfile_example:${{ github.sha }}
